div.infoText {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  font-size: 14px;
}

div.inputSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.percentage {
  color: #007bff;
}

div.buttonSection {
  text-align: center;
}