@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
:root {
  --warning: #ebebeb;
  --fontcolor: #1866ed;
  --backGroundImage: linear-gradient(#f2f5fa, #f2f5fa), radial-gradient(circle at top right, #1866ed 4.02%, #c1d7fc 97.87%);
  --buttonBorder: 1px double var(--fontcolor);
  --buttonFontWeight: 600;
  --gradientbutton: linear-gradient(90deg, #04e762, #89fc00);
}

.btn1 {
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}
.btnStyle {
  color: black !important;
  background: transparent !important;
  border: 1px solid #05e2b7 !important;
  border-radius: 0.8rem !important;
  font-weight: var(--buttonFontWeight) !important;
}
.btnStyle:hover {
  background: #05e2b7 !important;
}
.btnStyle2 {
  background: var(--gradientbutton) !important;
  opacity: 0.5;
  font-weight: var(--buttonFontWeight) !important;
  border: 1px solid transparent !important;
  border-radius: 1.2rem !important;
  width: 6rem !important;
  height: 3rem !important;
}
.btnStyle3 {
  background: rgba(23, 199, 167, 0.1) !important;
  color: #17c7a7 !important;
  border: 1px solid #17c7a7 !important;
  font-weight: 700 !important;
  border-radius: 0.3125rem !important;
  margin-left: 0.8rem !important;
}

.btnStyle4 {
  background: var(--gradientbutton) !important;
  opacity: 0.5;
  font-weight: var(--buttonFontWeight) !important;
  border: 1px solid transparent !important;
  border-radius: 1.2rem !important;
  width: 100%;
  margin-top: 0.8rem;
}
.btnStyle5 {
  background: #efefef !important;
  color: black !important;
  border: 1px solid transparent !important;
  border-radius: 1.2rem !important;
  width: 100%;
}
