div.ModalStyle {
  min-width: 15.625rem;
  max-width: 31.25rem;
  min-height: 6.25rem;
  box-shadow: 0 5px 20px rgb(13 56 199 / 10%);
  padding: 1.25rem 2.5rem;
  border-radius: 1rem;
}
.addBalance {
  display: flex;
  align-items: center;
  min-width: 12.5rem;
}
.btnStake {
  text-align: center;
}
.text {
  display: flex;
  justify-content: space-between;
}
.pills {
  margin-top: 1rem;
}
div.pills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
div.pills div.tab li {
  width: 5rem;
  flex-basis: 20%;
  justify-content: center;
}
div.pills .tab button {
  color: #03031999;
  background: #fff;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  top: 10px;
  align-items: center;
  border-radius: 3rem;
  width: 2.3rem;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
div.pills .tab button:focus {
  border: 1px solid #007bff;
  color: black;
}
div.pills .percentage {
  color: #007bff;
  margin-left: 1rem;
}
