body {
  font-size: 16px;
}
.sidebarContainer {
  position: fixed;
  width: 240px;
  height: calc(100vh - 70px);
  background-color: #f3f5f6;
  transition: 1.2s;
  left: 0px;
  box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 20px -9px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.sidebarContainer-close {
  position: fixed;
  width: 240px;
  height: calc(100vh - 70px);
  background-color: #f3f5f6;
  transition: 1.2s;
  left: -240px;
  z-index: 100;
}
.sideLi {
  padding: 10px;
  color: black;
}
.sideLi a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.sideLi:hover {
  text-decoration: none;
  background-color: white;
  transition: 0.5s;
}
a {
  text-decoration: none;
}
a:hover {
  color: #8c7dfb;
  transition: 0.5s;
  cursor: pointer;
}
.sidebarList {
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
  text-align: Left;
}
a i {
  padding: 10px;
}
a.active_class .sideLi {
  border-left: 1px solid #8c7dfb;
  color: #8c7dfb;
  cursor: default;
}
