.bodyContainer {
  margin-top: 70px;
}

.sidebarOpenView {
  margin-left: 240px;
  width: calc(100vw - 240px);
  transition: all 0.6s;
}

.sidebarCloseView {
  transition: all 0.6s;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .sidebarOpenView {
    margin-left: 0px;
    width: 100vw;
  }
}
