.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.material {
  position: relative;
}
.label {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: white;
  color: grey;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
}
.input {
  font-size: 1rem;
  outline: none;
  border: 1px solid grey !important;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: gray !important;
  transition: 0.1s ease-out;
}
.input2 {
  color: red !important;
  transition: 0.1s ease-out;
  border: 1px solid red !important;
  border-radius: 5px;
  padding: 1rem 0.7rem;
}
.input3 {
  background-color: #ebebe4 !important;
  opacity: 0.38 !important;
  pointer-events: none;
}

.input:focus {
  border-color: #05e2b7 !important;
}
.input:focus + .label {
  color: #05e2b7 !important;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.input:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.input2:focus {
  border-color: red !important;
}
.input2:focus + .label {
  color: red !important;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.input2:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
